<h5>string interpolation: {{ title }}</h5> <!-- string interpolation, behind the scenes string interpolation is converted to property binding  --> 
<br>
<h5 [textContent]="title"></h5> <!-- property binding, Works on properties on DOM objects  -->
<br>

<h5>Person Details (Applying builtin angular PIPES)</h5>
<p>
  {{ person.name | uppercase }} <br>
  {{ person.age }}  <br>
  {{ person.height | number:'1.2-2' }}  <br>
  {{ person.salary | currency:'AUD':'symbol' }}  <br>
  {{ person.dated | date }}  <br>
</p>
<br>

<h5>Applying custom pipe on the following text to limit the characters</h5>
<p> {{ text | summary:100 }}</p>
<br>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-inverse">
    <tr>
      <th>1</th>
      <th>2</th>
      <th>3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td [attr.colspan]="colspanNo">attribute binding on colspan attribute</td> <!-- attribute binding, Works on attributes of HTML elements  -->
      <td>b</td>
    </tr>
  </tbody>
</table>
<br>

<button class="btn btn-primary" [class.bg-red]="isActive">Class Binding: If isActive is 'true', apply class of '.bg-red' to this button.</button> <!-- class binding -->
<br><br>

<h5 [style.color]="isActive ? 'green' : 'blue'">Style Binding</h5> <!-- style binding -->
<br>

<div (click)="clickDiv()">
  <button class="btn btn-default" (click)="clickButton($event)">This is event binding</button>
</div>
<br><br>

<div>
  <input #inputTV class="width-500" (keyup.enter)="keyEvent(inputTV.value)" placeholder="this is event filtering, enter is filtered event, see console">
</div>
<br>

<div>
  <input class="width-500" [(ngModel)]="email" placeholder="two way data binding, ngModel">
  <span> {{ email }} </span>
</div>
<br><br>

<app-favorite [is-favorite]="highlight" (custom-event)="changeFavorite($event)">
</app-favorite>
<br>
<!-- <app-favorite [is-favorite]="highlight" (custom-event)="changeFavorite($event)">
  <div>
    <p [style.background-color]="highlight ? 'yellow' :  'grey'"  (click)="changeFavorite($event)"> Hello World</p>
  </div>
</app-favorite> -->

<bootstrap-card>
  <ng-container class="ngc-header">Reusable Component without input and output properties</ng-container>
  <ng-container class="ngc-body">This component uses ng-container and ng-content</ng-container>
  <ng-container class="ngc-footer">Powered by Angular</ng-container>
</bootstrap-card> 
<br><br>

<div [hidden]="courses.length == 0">
  Courses are available (Using hidden property binding, con: both divs are rendered in the DOM)
</div>
<div [hidden]="courses.length > 0">
  Courses are not available (Using hidden property binding, con: both divs are rendered in the DOM)
</div>
<br>

<div *ngIf="courses.length>0;"> 
  <p>Course are available (Simple ngIf )</p>
</div>
<br>

<div *ngIf="courses.length > 0; then coursesThenTV else noCoursesElseTV"></div>
<!-- the leading * in structural directives means angular is going to use  <ng-template> with the [ngIif], [ngFor], [ngSwitchCase] directive for all conditions -->
<ng-template #coursesThenTV>
  <div>
    <h5>ngIf with 'then' and 'else' combined with ngFor (pro: one onle div is rendered in the DOM)</h5>
    <ul>
      <li *ngFor="let course of courses; index as i; odd as isOdd; even as isEven; first as isFirst; last as isLast;"> <!-- use trackBy if you want to render the courses on courses.id (not on memory allocation). -->
        <span class="badge badge-secondary">Index: {{ i }}</span>
        <span class="badge badge-primary" *ngIf="isOdd">Odd Index</span>
        <span class="badge badge-success" *ngIf="isEven">Even Index</span> 
        <span class="badge badge-dark">Course Name: {{ course.name }}</span>
        <span class="badge badge-info">Course id: {{ course.id }}</span> 
        <span class="badge badge-warning" *ngIf="isFirst">First Course</span>
        <span class="badge badge-warning" *ngIf="isLast">Last Course</span>
        <button class="btn btn-sm btn-danger" (click)="removeCourse(course)">Remove</button>
      </li>
    </ul>
    <button class="btn btn-sm btn-primary" (click)="addCourse()">Add new course</button>
  </div>
</ng-template>
<ng-template #noCoursesElseTV>
  No courses 
</ng-template>
<br><br>

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" [class.active]="viewMode == 'list'" (click)="viewMode = 'list'">List</a> <!-- we can bind it to a function but the logic is so small thats why --> 
  </li>
  <li class="nav-item">
    <a class="nav-link" [class.active]="viewMode == 'grid'" (click)="viewMode = 'grid'">Grid</a>
  </li>
</ul>
<div [ngSwitch]="viewMode" class="mt-1"> <!-- Bind the property(variable) with ngSwitch directive first then use ngSwitchCase directive -->
  <div *ngSwitchCase="'list'">This is List View</div> 
  <div *ngSwitchCase="'grid'">This is Grid View</div>
  <div *ngSwitchDefault>Default: No View Mode</div>
</div>
<br>

<div>
  <p [ngClass]="{ 'bg-yellow': highlight, 'bg-grey': !highlight }" (click)="toggleHighlight()">
    [ngClass] is an attribute directive, if the condition is true, the text will be highlighted to yellow
  </p>
</div>
<br>

<div>
  <p [ngStyle]="{ 'backgroundColor': hbkStyle? '#eee': '', 'color': hbkStyle? 'blue': ''}">
    [ngStyle] is an attribute binding
  </p>
</div>
<br>

<div>
  <h5>Safe travversal operator (?) is used with complex ojects. If we dont have access to a particular property of obkect or its is undefined then we use safe traversal operator</h5>
  <span>{{ complexObject.personalDetails.name }}</span>
  <span>{{ complexObject.personalDetails?.designation }}</span>
  <span>{{ complexObject.personalDetails?.address }}</span>
</div>
<br>

<div>
  <h5>This is a custom directive. This directive formats the input to uppercase or lowercase baed on input property </h5>
  <!-- <input type="text" inputFormat [format]="'lowercase'" placeholder="type here"> -->
  <input type="text" [inputFormat]="'lowercase'" placeholder="type here"> <!-- use this if the input Alias is same as directive name   -->
</div>
<br><br>

<div>
  <h5>Template Driven Forms</h5>
  <form>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input class="form-control" id="firstName" type="text" name="firstName" ngModel  #firstNameTV="ngModel" (change)="onChange(firstNameTV)">
    </div>
    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea class="form-control" id="comment" name="" cols="20" rows="5" ></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>
<br><br>